<h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
    <dd><img src="<%= @the_photo.image %>" alt="image details"></dd>
  <dt>Caption</dt>
    <dd><%= @the_photo.caption %></dd>
  <dt>Owner</dt>
    <dd><%= @the_photo.poster.username %></dd>
  <dt>Posted</dt>
    <dd><%= @the_photo.created_at %></dd>
    <dt>Edit photo</dt>
    <dd>
      <form action="/update_photo/<%= @the_photo.id %>">
      <label for="photo_image">Image</label>
      <input type="text" id="photo_image" name="photo_image" placeholder="Enter a URL for the image..." value="<%= @the_photo.image %>">

      <label for="photo_caption">Caption</label>
      <textarea name="photo_caption" id="photo_caption" placeholder="Enter a caption for the photo..."><%= @the_photo.caption%></textarea>
      
      <button>
      Update photo
      </button>
      
      </form>
    </dd>
  <dt>Delete photo</dt>
    <dd><a href="/delete_photo/<%= @the_photo.id %>">Delete this photo</a></dd>
</dl>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_photo.comments.each do |a_comment|%>
  <tr>
    <td><%= a_comment.commenter.username %> </td>
    <td> <%= a_comment.body %> </td>
    <td> <%= a_comment.created_at %> </td>



  </tr>

  <% end %>



</table>



<h3>Add a new comment</h3>

<form action="/create_comment" method="post">
  <label for="photo_id">Photo ID</label>
  <input type="text" id="photo_id" placeholder="Enter the photo ID" name="photo_id" value="<%= @the_photo.id %> " >

  <label for="author_id">Author ID</label>
  <input type="text" id="author_id" name="author_id" placeholder="Enter your author ID">

  <label for="comment">Comment</label>
  <textarea name="comment" id="comment" placeholder="Enter a comment..."></textarea>

<button>
Add comment
</button>
</form>
