<h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
    <dd><img src="<%= @the_photo.image %>" alt="image details"></dd>
  <dt>Caption</dt>
    <dd><%= @the_photo.caption %></dd>
  <dt>Owner</dt>
    <dd><%= @the_photo.poster.username %></dd>
  <dt>Posted</dt>
    <dd><%= @the_photo.created_at %></dd>
  <dt>Delete photo</dt>
    <dd><a href="/delete_photo/<%= @the_photo.id %>">Delete this photo</a></dd>
</dl>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_photo.comments.each do |a_comment|%>
  <tr>
    <td><%= a_comment.commenter.username %> </td>
    <td> <%= a_comment.body %> </td>
    <td> <%= a_comment.created_at %> </td>



  </tr>

  <% end %>



</table>



<h3>Add a new comment</h3>
