<h1>List of photos</h1>

<table border="1" >
   <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th> </th>
   </tr>
  <% @list_of_photos.each do |a_photo|%>
   <tr>
    <td>
      <img src="<%= a_photo.image%>" alt="image by user">
    </td>
    <td><%= a_photo.caption %></td>
    <td><%= a_photo.poster.username %></td>
    <td><%= a_photo.created_at %></td>
    <td><a href="/photos/<%= a_photo.id %> ">Show Details</a></td>

   </tr>
   <% end %>

</table>
