<h1>List of photos</h1>

<hr>

<form action="/create_photo" method="post">

  <label for="image_box">Image</label>
    <input id="image_box" type="text" name="image_box">

  <label for="caption_box">Caption</label>
  <textarea name="caption_box" id="caption_box"></textarea>

  <label for="owner_id_box">Owner ID</label>
  <input id="owner_id_box"type="text" name="owner_id_box">

  <button>Add photo</button>
  

</form>

<hr>



<table border="1" >
   <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th> </th>
   </tr>
  <% @list_of_photos.each do |a_photo|%>
   <tr>
    <td>
      <img src="<%= a_photo.image%>" alt="image by user">
    </td>
    <td><%= a_photo.caption %></td>
    <td><%= a_photo.poster.username %></td>
    <td><%= a_photo.created_at %></td>
    <td><a href="/photos/<%= a_photo.id %> ">Show Details</a></td>

   </tr>
   <% end %>

</table>
